.gig-item{
  border: 1px solid #ccc;
  border-radius: 10px;
}

.gig-item-date{
  font-family: 'Righteous', cursive;
  border-right: 1px solid grey;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.gig-item-details{
  flex: 1.7;
  align-items: baseline;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.gig-item > a{
  text-decoration: none;
  color: black;
  display: flex;
}
