.gig-list-items{
  display:flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.gig-list-items > .gig-item{
  margin: 10px 15px 0px 15px;
}

.gig-item{
  animation: rise-in 1.5s;
  animation-iteration-count: 1;
  animation-delay: calc(1 * 1.5);
  color:red;
}

.gig-list-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.isLoading{
  display:flex;
  flex-direction: column;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: fade-in 0.5s, spin 1s linear infinite;
}

.isLoaded{
  animation: fade-out 1s, fade-in 1s;
  animation-iteration-count: 1;
}

.isFinished{
  animation: fade-in 1s;
  animation-iteration-count: 1;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-spin {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes rise-in {
  0%   { margin-top: 1000px; opacity: 0; }
  /*80%  { margin-top: 0px; opacity: 1;}*/
  100% { margin-top: 10px; opacity: 1; }
}
