.gig-list-items{
  display:flex;
  flex-direction: column;
  margin-top: 20px;
}

.gig-list-items > .gig-item{
  margin: 10px 15px 0px 15px;
}

.gig-list-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.isLoading{
  display:flex;
  flex-direction: column;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: fade-in 0.5s, spin 2s linear infinite;
}

.isLoaded{
  animation: fade-out 1s, fade-in 1s;
  animation-iteration-count: 1;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-spin {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
