
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #79508e;
  height: 70px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-details{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.nav-details h1 {
  font-family: 'Press Start 2P', sans-serif;
}

.nav-details h2 {
  font-family: 'Press Start 2P', sans-serif;
}

.App-header img {
  width: 75px;
  height: auto;
  border: 2px solid white;
  border-radius: 50%;
  flex: 0.2;
  margin-right: 20px;
  display: none;
}

.App-intro {
  font-size: large;
}

.social{
  display: flex;
  justify-content: space-around;
  margin-left: auto;
}

.social > a{
  margin: 0px 7px;
}

h1 {
  color: white;
  font-size: 40px;
  margin: 0;
}

h2 {
  font-size: 18px;
  margin: 0;
}

@media (max-width: 720px) {

  h1 {
    color: white;
    font-size: 20px;
    margin: 0;
  }

  h2 {
    font-size: 8px;
    margin: 0;
  }

  .App-header{
    height: 30px;
  }

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
